body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

.limitarSecao {
    max-width: 1024px ;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;    
}